<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="YM"
        android:supportsRtl="true"
        android:theme="@style/Theme.YM">

        <activity
            android:name="com.ym.lite.LibraryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ym.lite.AutoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ym.lite.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ym.lite.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.ym.lite.FeedActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
